<!DOCTYPE html>

<head>

<style type='text/css'>
    .s1 {
            color: black;
            font-family: 'Times New Roman', serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 9.5pt;
        }

        p {
            color: black;
            font-family: 'Times New Roman', serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 13.5pt;
            margin: 0pt;
        }
        .s3 {
            color: black;
            font-family: 'Times New Roman', serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11.5pt;
        }


        .insideTable{
            margin: 0 auto;
			border-collapse: collapse;
			border-style: hidden;
			/*Remove all the outside
			borders of the existing table*/
        }
        .insideTable th{
            padding: 0.5rem;
			border: 1.5px solid;
            text-align: center;
            align-items: center;
        }
        .insideTable td{
            padding: 0.5rem;
			border: 1.5px solid;
            text-align: center;
            align-items: center;
        }


</style>

</head>

<body>

    <div>
        <table style='margin-left:auto;margin-right:auto;width:750px'>
            <tr>
                <td>
                    <h1 style='text-indent: 0pt;text-align: center;'>EMPLOYMENT FORM</h1>
                </td>
            </tr>
            <tr border='0' cellspacing='0' cellpadding='0'>
                <td border='0' cellspacing='0' cellpadding='0'>
                    <table width='100%' height='100%' border='0' cellspacing='0' cellpadding='0'>
                        <tr>
                            <td 
                                style='align-items:center;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <div style='align-items:center;margin-right: auto; margin-left: auto;text-align:center;'>

                                <img src='../assets/PMLlogo.png' alt="logo"
                                    width='81' height='48' style='padding-left : auto;padding-right:auto' />
                        </div></td>
                            <td style='border-top-style:solid;border-top-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'
                                width='600px'>
                                <p class='s1'
                                    style='padding-left: 5pt;text-indent: 0pt;text-align: left;'>Post
                                    Applied
                                    For :<u></u></p>
                                <p class='s1'
                                    style='padding-left: 5pt;padding-right: 10pt;text-indent: 0pt;text-align: left;'>
                                    Date Application :<u></u></p>
                                <p class='s1'
                                    style='padding-left: 5pt;padding-right: 10pt;text-indent: 0pt;text-align: left;'>
                                    Reference : </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>PERSONAL
                                    DATA <span class='s1'>( Please fill in CAPITAL letters )</span></p>
                            </td>
                        </tr>
                        <tr style='padding-top:0%'>
                            <td colspan='3' style='padding-top:0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <table>
                                    <tr>
                                        <td colspan='2' style='width:394pt'>
                                            <p
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;line-height: 151%;text-align: left;'>
                                                Name : Kounder Manikandan Veerapatran
                                            </p>
                                        </td>
                
                                        <td rowspan='3'
                                            style='width:150px;height:150px;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                            <p style='text-indent: 0pt;text-align: left;'><br /></p>
                                            <p class='s1' style='padding-left: 33pt;text-indent: 0pt;text-align: left;'>Photograph</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='s1' colspan='2'
                                            style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                            Present Address :
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='s1' colspan='2'
                                            style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                            Permanent Address :
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Mobile No :
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Email :
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Pan Card :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Nationality :</p>
                
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Religion :</p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Sex :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Date of Birth : </p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Age :</p>
                
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Marital Status :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Place of Birth : </p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                City :</p>
                                        </td>
                                        <td>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                State :</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='3'>
                                            <p class='s1'
                                                style='padding-left: 5pt;padding-right: 7pt;text-indent: 0pt;text-align: left;'>
                                                Identification Mark : </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>HEALTH
                                    DATA</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='padding-top:0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%'>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Height : 100 Cms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Weight : 100 Kg &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Blood Group : A+
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='40%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Do you wear spectacles / contact lenses :
                                        </p>
                                    </td>
                                    <td width='60%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Answer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Details : Not Specificaly
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='40%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Do you suffer from any disability :
                                        </p>
                                    </td>
                                    <td width='60%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Answer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Details : Not Specificaly
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width='40%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Did you undergo surgery in past :
                                        </p>
                                    </td>
                                    <td width='60%'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Answer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Details : Not Specificaly
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    FAMILY DATA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' width='100%' style='padding-top:0%;padding-bottom: 0%;padding-right:0%;padding-left: 0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%' class='insideTable'>
                                <thead>
                                    <th>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Relation
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Name
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Age
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Education
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Occupation
                                        </p>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    GENERAL DATA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='padding-top:0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <table width='100%'>
                                    <tr>
                                        <td colspan='2'>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                1. Have you been previously employed in the PML Group ?
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                If yes; specify
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                2. Do you have friends / relatives in the PML Group ?
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan='2'>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Give details
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                
                                </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            
        </table>
    </div>

    <div>
        <table style='margin-left:auto;margin-right:auto;width:750px'>
            
            <tr border='0' cellspacing='0' cellpadding='0'>
                <td border='0' cellspacing='0' cellpadding='0'>
                    <table width='100%' height='100%' border='0' cellspacing='0' cellpadding='0'>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt;border-top-style:solid;border-top-width:2pt;'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    EDUCATIONAL DATA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' width='100%' style='padding-top:0%;padding-bottom: 0%;padding-right:0%;padding-left: 0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%' class='insideTable'>
                                <thead>
                                    <th>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Exams
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Name Of Institution
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Year of Passing
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            % or Grade
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Major Subjects
                                        </p>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    TRAINING DATA
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' width='100%' style='padding-top:0%;padding-bottom: 0%;padding-right:0%;padding-left: 0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%' class='insideTable'>
                                <thead>
                                    <th>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Name of the Institution
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Year
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Nature of Course
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Certificate Awarded
                                        </p>
                                    </th>
                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        
                                    </tr>
                                </tbody>

                            </table>
                            
                            </td>
                        </tr>

                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    EXTRA CURRICULAR ACTIVITIES : <span class='s1'>( Please give details -- )</span> 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='padding-top:0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%'>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            1. Sports :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            2. Social / Literary :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            3. Interest & Hobbies :
                                        </p>
                                    </td>
                                </tr>
                                
                            </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    LANGUAGES KNOWN
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='padding-top:0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%'>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Speak :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Read :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2'>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Write :
                                        </p>
                                    </td>
                                </tr>
                                
                            </table>
                            
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' style='align-items:center;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                                <p class='s3' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                    REFERENCES <span class="s1">(No Relation Please)</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan='3' width='100%' style='padding-top:0%;padding-bottom: 0%;padding-right:0%;padding-left: 0%;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt'>
                            <table width='100%' class='insideTable'>
                                <thead>
                                    <th>
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Name
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Occupation
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Telephone
                                        </p>
                                    </th>
                                    <th >
                                        <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                            Address
                                        </p>
                                    </th>
                                
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        <td>
                                            <p class='s1' style='padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;'>
                                                Relation
                                            </p>
                                        </td>
                                        
                                    </tr>
                                </tbody>

                            </table>
                            
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
    </div>
    






</body>

</html>